node_modules/
.env
.idea/
.vscode/

src/types/contracts/generated/
esm/
cjs/

scripts/updateMarkets/yarn.lock
scripts/updateMarkets/package-lock.json
scripts/updateMarkets/DATA.json
scripts/updateMarkets/.env
.yarn
.yarnrc.yml
